fastapi==0.78.0
fastapi-users[beanie,oauth]==10.1.1
google-api-python-client==2.50.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
python-dotenv==0.20.0
slack_sdk==3.17.0
uvicorn[standard]==0.17.6